body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
}

.background-container img {
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}

.message {
    max-width: 55ch;
}

.form-container h2 {
    font-weight: 600;
    margin-bottom: 15px;
    padding: 0 50px 0 50px;
}

.form-body {
    margin-top: 20px;
    border: 1px solid black;
}

.form-heading {
    margin-bottom: 150px;
}

.form-section {
    padding: 0 50px 0 50px;
    margin-bottom: 30px;
    display: flex;
    gap: 50px;
}

label, input{
    display: block;
}

input {
    height: 25px;
    width: 300px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #E5E7EB;
}

input:focus {
    box-shadow: 3px 3px 5px lightgray;
    outline: none;
    border: 1px solid blue;
}

input:invalid {
    border: 1.5px solid red;
}

button {
    margin: 30px 50px;
    padding: 10px 60px;
    background-color: #596D48;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}

p {
    margin: 0;
    padding-left: 50px;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}